* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: azure;
    font-family: 'Poppins', sans-serif;
}

header {
    text-align: center;
    padding: 10px 0;
    background-color: #111;
    color: white;
}

header h1 {
    margin-bottom: 10px;
    font-size: 28px;
    letter-spacing: 2px;
}

.nav-bar {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 10px 0;
}

.nav-bar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: 500;
}

.nav-bar a:hover {
    background-color: white;
    color: black;
    border-radius: 5px;
    transition: 0.3s;
}

p{
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}

pre{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

img{
    height: 200px;
    width: 200px;
    margin-top: 20px;
    margin-left: 660px;
}