* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: azure;
    font-family: 'Poppins', sans-serif;
}

header {
    text-align: center;
    padding: 10px 0;
    background-color: #111;
    color: white;
}

header h1 {
    margin-bottom: 10px;
    font-size: 28px;
    letter-spacing: 2px;
}

.nav-bar {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 10px 0;
}

.nav-bar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: 500;
}

.nav-bar a:hover {
    background-color: white;
    color: black;
    border-radius: 5px;
    transition: 0.3s;
}

main h2{
    text-align: center;
    margin: 150px 0 20px;
}
 table{
    margin: 40px 600px 0 600px;
    font-size: 20px;
    position: relative;
    top:10px;
}


input {
  width: 95%;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;;
}

input:focus {
  border-color: #0078d7;
  outline: none;           
  background-color: #f0f8ff;
}



button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;              
  border-radius: 6px;   
  cursor: pointer;    
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}